* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.playerprofile {
    max-width: 1226px;
    margin: 0 auto;
    padding: 1rem;
}
.top {
   
height: 254px;
flex-shrink: 0;
border-radius: 10px;
background: #D7AE37;
margin: 0 auto;
max-width: 1236px;
padding: 1rem;
position: relative;
}

.scout-imgg {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: start;
  
    position: absolute;
    top: 37%;

}

.scout-imgg img {
    width: 251px;
height: 251px;
/* position: absolute;
left: 45px; */
border-radius: 251px;
/* bottom: 290px; */


}

.input-details {
 align-items: start;
 display: flex;
 flex-direction: row;
 justify-content: start;
 margin-top: 1rem;
 max-width: 1236px;
 margin: auto;

}

.info-input {
    width: 330px;
height: 73px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #D9D9D9;
margin-top: 8rem;


}

.info-input1 {
 display: flex;
 flex-direction: row;
 align-items: start;
 justify-content: start;
 width: 735px;
 height: 73px;
 flex-shrink: 0;
 border-radius: 10px;
 border: 1px solid #D9D9D9;
 margin-top: 1.4rem;
}
.email {
    max-width: 1236px;
    margin: auto;
}
.dropdown {
    max-width: 1236px;
    margin: auto;
}
.drop {
    color: red;
   
   
   
    border-radius: 10px;
   text-align: start;
    width: 735px;
max-height: 300px;
flex-shrink: 0;
border-radius: 10px;

}
.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 30px 52px 27px 10px;
    transition: all 200ms ease;
    margin-top: 1rem;
    font-family: Satoshi;
}
.scoutt {
    max-width: 1236px;
    margin: auto;
}

.organisation {
    max-width: 1236px;
    margin: auto;
}
:placeholder {
    color: #817F7F;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

:placeholder-shown {
    color: #817F7F;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

option {
    height: 200px;
}



.info-input2 {
    height: 399px;
flex-shrink: 0;
border: 1px solid #223E88;
background: #F4F7FF;
margin: 0 auto;
width: 1240px;
}
textarea {
    resize: none;
    margin: 0 auto;
  }
.scout-button button {
    width: 186px;
height: 70px;
flex-shrink: 0;
border-radius: 5px;
background: #223E88;
    border: 1px solid #FFF;
    background: #223E88;
    color: #FFF;
    font-size: 14px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}  

h4 {
    color: #544F4F;
font-family: Satoshi;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: row;
align-items: start;
justify-content: start;
text-align: start;
max-width: 1236px;
margin: 0 auto;
}

.textarea {
    width: 100%;
    margin: 0 auto;
   
}


.check {
    display: flex;
    flex-direction: row;
 
   margin-top: 1rem;
   max-width: 1236px;
   margin: 0 auto;
 
}
.checking {
    width: 22px;
    height: 22px;
    color: #0000;
    background-color: black;
   
}

.check p {
    
    color: #817F7F;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
text-align: center;
margin-top: 0.5rem;
}

.input-details :nth-child(2) {
    margin-left: 1rem;
}

@media screen and (max-width: 808px) {
    .input-details {
        flex-direction: column;
        margin-top: 2rem;
    }
    .info-input1 {
        width: 350px;
    }
    .drop {
        width: 350px;
    }
    .scout-imgg img  {
        width: 107px;
        height: 107px;
        top: 30%;
    }

    .top {
        position: relative;
    }
    .scout-imgg {
        top: 66%;
        position: absolute;
    }
    .info-input {
        margin-top: 1rem;
    }
    textarea {
        width: 350px;
    }
    .scout-button button {
        width: 130px;
        height: 50px;
    }

    .checking  {
        width: 29px;
height: 29px;
    }

    .check p {
        margin-right: 20%;
        font-size: 10px;
    }
}