* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
   
    
}

body {
    background: #FFF;
}

.landing-container {
    margin-top: -1rem;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 2rem;
}

.media-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin-right: 0 auto;
  
    z-index: 1;
   
    

   
}

.media-left h3 {
    color: #fdf7f7;
font-size: 42px;
font-weight: 700;
text-align: left;
align-items: flex-start;

}

.media-left span {
    color: #D7AE37;
font-size: 48px;
font-weight: 700;
}

.media-left p {
    color: #ffffff;
font-size: 20px;

}

.media-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    border: 0px solid #D7AE37;
background: #D7AE37;
    text-align: end;
    width: 400px;
    align-self: center;
    align-items: center;
    margin-bottom: -18rem;
    width: 561px;
height: 176px;
z-index: 1;
overflow: visible;
}

.media-right div p {
    color: #FFF;
font-size: 40px;
font-weight: 700;
}

.media-right div span {
    color: #FFF;
font-size: 20px;
text-align: left;
align-items: left;
justify-content: flex-start;
align-self: flex-start;
margin-right: 2rem;
}

.media-right-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
    position: absolute;
    left: 40%;

}

.navigation :nth-child(2) {
    background-color: #D7AE37;
}

.navigation div {
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 2rem;
    border-radius: 50%;
}

.categories-wrapper,
.about-us {
    flex-direction: row;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    box-shadow: blue;
    justify-content: space-evenly;


}

.categories-wrapper img,
.about-us img {
    width: 348px;
    height: 309px;
    filter: drop-shadow(10px 10px 10px white);
}

.categories-wrapper img {
    width: 385px;
}

.categories3 img{
    width: 395px;
}

.categories-wrapper span {
    display: flex;
flex-direction: column;
flex-shrink: 0;
color: #817F7F;
text-align: center;
font-size: 18px;
padding: 1rem;
}

.categories1,
.categories2,
.categories3 {
    background-color: white;
   
    box-sizing: border-box;
    box-shadow: 5px green;
    border-bottom: 5px red;
    border: 1px solid #223E88;

}

.categories1 h4,
.categories2 h4,
.categories3  h4 {
    margin-top: 1rem;
}

.categories1 span,
.categories2 span,
.categories3  span {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #817F7F;
    text-align: center;
    font-size: 18px;
}

.categories1 p,
.categories2 p, 
.categories3  p {
    margin-top: 1rem;
    color: #223E88;
font-size: 20px;
font-style: italic;
font-weight: 700;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem;

}

.about h2 {
    color: #161037;
font-size: 32px;
font-weight: 700;
}

.about-us2 {
    width: 300px;
    border: 2px solid #223E88;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us2 p {
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    color: #223E88;
font-size: 18px;
font-style: italic;
font-weight: 700;
}

.about-us2 span {
   height: 50px;
   margin-top: 2rem;

    color: #161037;
font-size: 20px;
font-family: Satoshi;
font-weight: 700;
}

.about-us img {
    height: 460px;
}

.mission {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    border: 1px solid #C4C4C4;
    background: #223E88;
}

.mission-left {
    padding: 3rem;
}

.mission-left img {
    height: 450px;
    width: 450px;
}

.mission-right {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}

.mission-right h4 {
    color: #FFF;
font-size: 32px;
font-weight: 700;
margin-bottom: 5rem;
}

.mission-right {
    color: #FFF;
font-size: 24px;
}

.mission-right p {
    text-align: left;
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.partners img {
    width: 140px;
    height: 90px;
}
.partner {
    border: 1px solid #C4C4C4;
background: #d4daeb;

}

.scout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scout-top,
.scout-middle,
.scout-down {
    display: flex;
    flex-direction: row;
}

.scout-top-details,
.scout-middle-details,
.scout-down-details {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 2rem;
}
.scout-top img,
.scout-middle img,
.scout-down img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.scout-top-text,
.scout-middle-text,
.scout-down-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scout-top-text p,
.scout-middle-text p,
.scout-down-text p {
    color: #161037;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 0.4rem;
}

.scout-top-text span,
.scout-middle-text span,
.scout-down-text span {
    color: #817F7F;
font-size: 13px;
font-family: Satoshi;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 1.9rem;
}
.testimonial {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #223E88;
}

.testimonial h3 {
    color: #FFF;
font-size: 32px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.testimonial-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.testimonial-card1,
.testimonial-card2,
.testimonial-card3 {
    background-color: white;
    width: 305px;
height: 437px;
}

.testimonial-card-details {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.testimonial-card-details img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.testimonial-card-details-info {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.testimonial-card-details-info p {
color: #161037;
font-size: 20px;
font-weight: 700;
}

.testimonial-card-details-info span {
    color: #817F7F;
font-size: 16px;
margin-right: 1.5rem;
}

.testimonial-card1-texts p {
    display: flex;
    flex-direction: row;
    text-align: start;
    padding: 1rem;
}

.testimonial-card1-ratings {
    display: flex;
    flex-direction: row;
    /* position: absolute;
    top: 515%;
    left: 40%; */
    margin-top: 12rem;
    margin-left: 3.5rem;
}

.testimonial-card1-ratings :nth-child(5) {
    color: #E0E0E0;
}

.star {
    width: 35px;
    height: 30px;
    color: #D7AE37;
}


.partnership {
    display: flex;
    flex-direction: column;
}

.partnership-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.partnership-info-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partnership-info-right {
    display: flex;
    flex-direction: column;
}
.partnership-info-left-icon1,
.partnership-info-left-icon2 {
    width: 114px;
height: 114px;
background-color: #223E88;
margin-left: 3rem;
margin-right: 1rem;
}

.sks {
    width: 40px;
    height: 50px;
    margin-top: 2rem;
    color: white;
}

.input1 {
    margin-top: 1.5rem;
    width: 400px;
    height: 30px;
    border-bottom: 1px solid blue;
    border: none;
    border-bottom: 2px solid #817F7F;;
}

.partner-btn {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1rem;
   
    
}

.partner-btn button {
    width: 116px;
height: 38px;
background-color: blue;
color: #FFF;
font-size: 15px;
font-weight: 700;
border-radius: 10px;
border: none;
cursor: pointer;
}

