body {
    background: #FFF;
}
.landing-wrapper {
    width: 100%;
}


.mediaa {
    width: 100%;
    margin: auto;
}
.media-container {
    width: 100%;
    margin: auto;
}
.media-wrapper {
    max-width: 1263px;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
}
.media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    background-color: linear-gradient(0deg, rgba(245, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.30) 100%),  rgb(7, 0, 0) 50%;
   
}

.media-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin-right: 0 auto;
  
    z-index: 1;
   
    

   
}

.media-left h3 {

font-size: 48px;
font-weight: 700;
text-align: left;
align-items: flex-start;
color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;


}

.media-left span {
    color: #D7AE37;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.media-left p {
    color: #FFF;
  
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 1rem;

}

/* .media-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    border: 0px solid #D7AE37;
    

    text-align: flex-end;
   
    align-self: flex-end;
    align-items: center;
    align-content: flex-end;
   
   
height: 176px;
z-index: 1;
background: #D7AE37;
position: absolute;
right: 0;



} */






.media-right div p {
    color: #ffffff;
font-size: 40px;
font-weight: 700;

}

.media-right div span {
    color: #FFF;
font-size: 20px;
text-align: left;
align-items: left;
justify-content: flex-start;
align-self: flex-start;
margin-right: 2rem;

}

.media-right-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
    position: absolute;
    left: 40%;

}



.navigation div {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: 1.5rem;
    border-radius: 50%;
}

.navigation div.active {
    background-color: #D7AE37;
  }
  



.categories-container {
    max-width: 1263px;
    margin: auto;
    height: 600px;
    
    align-items: center;
   
    margin-top: 2.5rem;
    max-width: 1263px;
    margin: 0 auto;
}
.categories-details {
    
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.categories-box {
    background: #fff;
    
    border-radius: 10px;
    
    max-width: calc(33% - 16px);
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
background: #FFF;
margin: 0 auto;
width: 393px;
  margin-bottom: 20px;
  padding: 0.1px;
  border: 1px solid #223E88;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;


}

.categories-image {
   
height: 319px;


}

.categories-image img {
    width: 100%;
height: 303px;
flex-shrink: 0;
border-radius: 10px;
width: 100%;


}
.categories-box h4 {
    color: #161037;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories-box span {
    color: #817F7F;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 1rem;

}

.categories-box p {
    color: #223E88;
font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 2rem;
margin-bottom: 1rem;
padding-bottom: 1.5rem;

}
.scout {
    max-width: 1300px;
    margin: auto;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.scout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scout h3 {
color: #223E88;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.scout-top,
.scout-middle,
.scout-down {
    display: flex;
    flex-direction: row;
}

.scout-top-details,
.scout-down-details {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

.scout-middle-details {
    display: flex;
    flex-direction: column;
}
.scout-top img,
.scout-middle img,
.scout-down img {
    width: 150px;
    height: 150px;
    
    margin-top: 1.5rem;
    border-radius: 50%;
  
}
/* .stout {
    width: 350px;
    height: 350px;
} */
.stout img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    clip-path: inset(5px 20px 25px 20px round 50%);
}

.scout-down-text {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scout-down-text span {
    margin-left: 0.5rem;
}
.scout-top-text,
.scout-middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 #root > div > div > div > div.scout.innerWidth.paddings > div > div.scout-middle > div > div.stout > img {
       
        filter: brightness(80%)
     }

.scout-top-text {
    align-items: start;
}

.scout-top-text span {
    margin-left: 0.5rem;
}
.scout-top-text p,
.scout-middle-text p,
.scout-down-text p {
    color: #161037;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 0.4rem;
}

.scout-top-text span,
.scout-middle-text span,
.scout-down-text span {
    color: #817F7F;
font-size: 18px;
font-family: Satoshi;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 1.9rem;
}

.scout-middle-text {
    margin-top: -18px;
}

.scout-middle-text span {
    margin-left: 3rem;
}

.star {
    width: 45px;
    height: 40px;
    color: #D7AE37;
  
}

.testimonial-wrapper {
    max-width: 1263px;
    margin: auto;
    height: 600px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #223E88;
    margin-bottom: 1rem;
  }

  .testimonial-wrapper h3 {
    color: #FFF;
font-family: Satoshi;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 2rem;
  }
  
  .testimonial-container {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    margin-bottom: 6rem;
   

  }
  .testimonial-box {
    background: #fff;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: calc(29% - 10px);
  }
  .testimonial-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 1rem; */
  }
 .testimonial-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 3px;
 }


 .testimonial-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    

 }

 .testimonial-name {
    margin-left: 1rem;
 }

 .testimonial-name :nth-child(1) {
    color: #161037;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }

 .testimonial-name :nth-child(2) {
    color: #817F7F;
font-family: Satoshi;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 1;
 }


 .testimonial-note p {
    text-align: left;
    margin-top: 1rem;
    color: #817F7F;
font-family: Satoshi;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }

 .testimonial-rate {
    margin-top: 2rem;
 }

 .testimonial-rate :nth-child(4) {
    color:  #D9D9D9;
 }
 .testimonial-rate :nth-child(5) {
    color:  #D9D9D9;
 }

 
  /*media right  */
  .media-right-container {
    position: absolute;
    top: 59%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .media-right {
    max-width: 1263px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .media-details {
    width: 405px;
    text-align: right;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #D7AE37;
    padding: 2.1rem;
    margin-right: -0.25rem;
   
  }
  
 
@media screen and (max-width: 1310px) {
  

    .categories1 {
        margin-right: 1.2rem;
      
    }
    .categories2 {
        margin-right: 1rem;
    }
  

  
    
}

@media screen and (max-width: 808px) {
    #root > div > div > div > div:nth-child(2) > div:nth-child(1) > div {
        border-radius: 10px;
    }
   
    .media {
      
        margin: 0 auto;
    }
   
    .media h3 {
        color: #fdf7f7;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    align-items: flex-start;
    
    }

    .media-left span {
        font-size: 20px;
    }
    .media-left p {
        color: #FFF;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .media-right {
        width: 227px;
        height: 54px;
flex-shrink: 0;
background: #D7AE37;
align-self: flex-end;
padding: 2rem;
padding-bottom: 2rem;
margin-right: 2.4%;
margin-top: -11rem;


}
.navigation {
    display: none;
}
.media-right-container {
    display: none;
}

.media-right-container {
  padding: 1rem;
}
.media-right div p {
    color: #ffffff;
font-size: 15px;
font-weight: 700;

}

.media-right div span {
    color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.categories-details {
    display: flex;
    flex-direction: column;
    margin: auto;

}


.categories-box h4 {
    margin-top: 0rem;
    font-size: 24px;
   margin-top: 1rem;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.categories-box span {
    text-align: center;
font-family: Inter;
font-size: 18px;
padding: 1rem;
width: 319px;
margin-top: -1rem;
text-align: left;
}

.categories-box p {
    font-size: 20px;
    width: 101px;
    margin-top: -0.3rem;
    
}
.categories-image {
    width: 348px;
height: 285px;
margin: auto;
}
.categories-image img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.categories-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.categories-details {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
}

.categories-box {
    max-width: 348px;
height: 448px;
    margin-top: 1rem;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    background: #F4F7FF;
    margin-top: 2rem;
    
}


/*  */
.categories-container {
    width: 100%;
    
    box-sizing: border-box;
  }
  
  .categories-details {
    display: flex;
    flex-direction: column;
  }


  
  

.scout {
    display: flex;
    flex-direction: column;
    margin-top: 56rem;
}

.scout-top-details,
.scout-down-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    margin-right: 0.4rem;
}


.scout-top,
.scout-down {
    padding-right: 2rem;
}
.scout-top-text span,
.scout-middle-text span,
.scout-down-text span {
    font-size: 10px;
}

.scout-down-text p,
.scout-middle-text p,
.scout-top-text p {
    font-size: 16px;
}
.stout img {
    width: 167px;
    height: 167px;
}
.scout-down-details img {
    width: 167px;
    height: 167px;
}

.scout-middle-details img {
    width: 167px;
    height: 167px;
}
.scout-top-text,
.scout-down-text {
    margin-top: -1rem;
}
.scout-middle-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -6rem;
}
#root > div > div > div > div.scout.innerWidth.paddings > div > div.scout-middle > div > div.stout {
    margin-right: -3rem;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 1182px;
    margin-bottom: -1.3rem;

}

.testimonial-wrapper h3 {
    margin-top: 6rem;
    font-size: 18px;
}
.testimonial-box {
  
  margin-top: 1rem;
    width: 368px;
height: 339px;
}
.testimonial-rate {
    margin-top: 4rem;
}
.star {
    width: 30px;
    height: 30px;
    color: #D7AE37;
    margin-top: -8rem;
    padding-bottom: 1rem;
}
}