.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 1263px;
    background: #223E88;

    
}


.footer-container {

background: #223E88;
margin: 0 auto;
width: 100%;
height: 485px;
}

.footer-mobile {
    display: none;
}
.footer-scout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.footer-icons {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 3rem;
}


.hi-con {
    margin-left: 1rem;
    margin-top: 4rem;
}
.footer-icons-icon img {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-top: 2rem;
}

.footer-icons-icon {
    display: flex;
    flex-direction: column;
}

.footer-icons h3 {
    align-items: left;
    display: flex;
    justify-content: start;
    margin-left: 2.2rem;
}
.social-icon1 {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.social-icon {
    display: none;
}

.footer-left {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   padding: 1rem;
}

.footer-left h3 {
    color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-scout p {
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 3rem;
align-items: flex-start;
text-align: flex-start;
display: flex;
}

.footer-right-info{
    display: flex;
    flex-direction: row;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
   
    margin: 0 auto;

}
.footer-right p {
    color: #FFF;
font-size: 32px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-right span {
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px;
margin-top: 1rem;
}


.footer-right-info1 {
    height: 40px;
    margin-top: 1rem;

}

.info {
    height: 40px;
    width: 500px;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
}

.footer-right-info2 button {
    height: 48px;
    width: 145px;
    margin-left: -6rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    padding: 0.2rem;
    background: #D7AE37;
    color: white;
    border: none;
    color: #FFF;
font-size: 20px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
border-radius: 10px;
}

@media screen and (max-width: 808px) {
  
    .footer-scout h3 {
        font-size: 15px;
    }

    .footer-scout p {
        color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 1.4rem;
    align-items: flex-start;
    text-align: flex-start;
    display: flex;
    
    }

    .footer-icons h3 {
        font-size: 15px;
    }
    .hi-con {
       width: 30px;
       height: 20px;
    }
    .footer-icons {
        margin-left: 0.2rem;
    }

    .footer-right {
        margin-left: -1rem;
    }

    .footer-right p {
        font-size: 12px;
    }
    .social-icon1 {
        display: none;
    }
    .social-icon {
        display: flex;
        flex-direction: row;
        margin-left: 0.0001rem;

    }

    .hi-con {
        margin-right: 0.5rem;
    }

    .footer-icons-icon {
        margin-right: 0.1rem;
    }

    .footer-icons h3 {
        margin-right: 4rem;
    }

    .footer-right p  {
        font-size: 12px;
    }

    .footer-right span {
        font-size: 10px;
    }
    .footer-right-info1 {
        height: 40px;
    
    }
    
    .info{
        height: 80px;
        width: 100px;
        padding: 1.5rem;
    }
    
    .footer-right-info2 button {
        height: 52px;
        width: 40px;
        margin-left: -0.2rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background: #D7AE37;
        color: white;
        border: none;
        color: #FFF;
    font-size: 10px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    }

  
}

@media screen and (max-width: 1030px) {
    .info {
        height: 40px;
        width: 300px;
        padding: 1.5rem;
        border-radius: 10px;
        border: none;
    }
    .footer-right-info2 button {
        height: 52px;
        width: 85px;
        margin-left: -5rem;
        margin-top: 0.9rem;
        margin-bottom: 0.5rem;
        padding: 0.2rem;
        background: #D7AE37;
        color: white;
        border: none;
        color: #FFF;
    font-size: 20px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border-radius: 10px;
    }
}







@media screen and (max-width: 808px) {

    .footer {
        display: none;
    }
    .footer-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 1rem;
        margin-top: 1rem;
        height: 300px;
        
       
    }
    
    .footer-1,
    .footer-2,
    .footer-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .footer-3 {
        margin-top: 1rem;
    }
    
    .footer-1 h3 {
        width: 199px;
    color: #FFF;
  
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    }
    .footer-1 span {
        color: #D7AE37;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;

    }
    
    .footer-1 button {
        width: 86px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D7AE37;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    }
    
    .footer-2 {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .footer-2 span {
        color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 1rem;
    }
    
    .footer-3 p {
        color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    }
    
    .footer-2 h3,
    .footer-3 h3{
        color: #CECECE;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: start;
    align-self: start;
    margin-top: 1rem;
    }
    
    .footer-4 {
       
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       margin-top: -3rem;
       margin-bottom: 3rem;
        padding-bottom: 1rem;
    }
    .mobile-icon {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .hi-con {
        margin-left: 0.4rem;

    }

    
    .footer-logo div {
        width: 50px;
        height: 50px;
    }
    .footer-container {
        height: 487px;
    } 
    #root > div > div > div.footer-container.innerWidth > div.footer-mobile > div.footer-4 > div.footer-logo {
        margin-bottom: 0;
    }
}