* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blogging {
   max-width: 95%;
   margin-left: 3.7rem;
}

.blog-media-left span {
    color: blue;
    font-size: 22px;
}

.blog-wrapper {
    margin-top: -1rem;
}

.blog-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 2rem;
}

.blog-media-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin-right: 0 auto;
   
    

   
}

.blog-media-left h3 {
    color: #fff;
font-size: 42px;
font-weight: 700;
text-align: left;
align-items: flex-start;

}

.blog-media-left span {
    color: #D7AE37;
font-size: 48px;
font-weight: 700;
}

.blog-media-left p {
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
width: 274px;
flex-direction: column;
flex-shrink: 0;
text-align: left;
}
.app__video-overlay_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
}

.app__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 30);
}



.icon {
    background-color: #544F4F;
    position: absolute;
    top: 50%;
    right: 50%;
}

.blog-media-right button {
    width: 237px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #223E88;
    color: #FFF;
font-size: 20px;
font-family: Satoshi;
font-style: normal;
position: absolute;
right: 45%;
font-weight: 700;
line-height: normal;
cursor: pointer;
margin-top: 3rem;
}

.highlight-wrapper {
    display: flex;
    flex-direction: column;
}

.highlight-intro,
.mostviewed-intro,
.toprated-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.highlight-intro h4,
.mostviewed-intro h6 {
    color: #161037;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.highlight-intro h2 {
    color: #161037;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 1rem;
}

.highlight-intro button,
.mostviewed-intro button,
.toprated-intro button{
    width: 123px;
height: 42px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #FFF;
background: #223E88;
color: #FFF;
font-size: 14px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 1rem;
}

.highlight-details img{
    width: 383px;
    height: 309px;
    border-radius: 20px;
}
.highlight-details p {
    position: absolute;
   
    background: #424242;
    width: 55px;
height: 50px;
padding: 1rem;
margin-top: 1.5rem;
margin-left: 1.5rem;
color: #FFF;
font-size: 18px;
font-family: Satoshi;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.highlight-item {
    display: flex;
   
}

.highlight-details,
.signee-details,
.help-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight-details {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.highlight-details::-webkit-scrollbar {
    display: none;
}

.highlight-wrapper {
    display: flex;
    flex-direction: column;
}

.highlight-intro,
.signee-intro,
.help-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.signee-intro h2 {
    color: #161037;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.signee-intro button,
.help-intro button {
    width: 123px;
height: 42px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #FFF;
background: #223E88;
color: #FFF;
font-size: 14px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

.signee-intro button {
    margin-bottom: 1rem;
}

.signee-details img{
    width: 375px;
    height: 309px;
}



.interviews-title {
    display: flex;
    flex-direction: column;
}
.interviews-wrapper {
    display: flex;
    flex-direction: column;
}
.interviews-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.interviews-intro h2 {
    color: #161037;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.interviews-intro-btns button {
    padding: 0.7rem;
    margin-left: 1rem;
    border-radius: 10px;
background: #F4F4F4;
color: #817F7F;
font-size: 15px;
font-family: Satoshi;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
border: none;
}

.interviews-intro-btns :nth-child(1) {
    background: hsl(224, 60%, 33%);
    color: white;
    color: #FFF;
font-size: 15px;
font-family: Satoshi;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 87px;
height: 48px;
}

.interviews-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.interviews-media::-webkit-scrollbar {
    display: none;
}
.interviews-media img {
    width: 365px;
height: 270px;
border-radius: 15px;
}

.interviews-media span {
    position: absolute;
   
    background: #424242;
    width: 55px;
height: 50px;
padding: 1rem;
margin-top: 1.5rem;
margin-left: 1.5rem;
color: #FFF;
font-size: 18px;
font-family: Satoshi;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.interviews-media p {
    width: 321px;
flex-direction: column;
flex-shrink: 0;
color: #817F7F;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.mostviewed-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #223E88;
    margin-top: 2rem;
}

.mostviewed-details img {
    width: 150px;
    height: 150px;
}

.mostviwed-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin-right: 8rem;
}

.play {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.9rem;
    background-color: #817F7F;
    color: #FFF;
    margin-right: 2rem
}

.mostviwed-texts h6 {
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.mostviwed-texts p {
    color: #FFF;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mostviwed-texts span {
    color: #817F7F;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.podcast,
.toprated {
    display: flex;
    flex-direction: column;

}
.mostviewed-intro h2,
.toprated-intro h2{
    color: #161037;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.podcast-details,
.toprated-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F4F7FF;
    height: 674px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
}

.toprated-details::-webkit-scrollbar {
    display: none;
}
.podcast1,
.toprated1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 557px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: #D7AE37;
   
}

.podcast1 img,
.toprated img {
    width: 365px;
    height: 325px;
    border-radius: 10px;
}
.podcast-icon,
.toprated-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-right: 2rem;
}

.podcast-icon img,
.toprated-icon img {
    width: 202.025px;
    height: 45.143px;
    margin-left: 4rem;
}

.pause {
    background-color: #544F4F;
    width: 44.625px;
    height: 44.625px;
    color: #FFF;
    border-radius: 50%;
}

.podcast1 p,
.toprated1 p{
display: flex;
align-items: center;
width: 300px;
color: #817F7F;
font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29px;
margin-top: 1rem;
}

/*  */
.r-gallery-images {
  
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
}

.r-gallery-images_container {
    display: flex;
    flex-direction: row;
    /* width: max-content; */

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.r-gallery-images_container::-webkit-scrollbar {
    display: none;
}

.toprated-container {
    display: flex;
    flex-direction: column;
    /* width: max-content; */

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.toprated-container::-webkit-scrollbar {
display: none;
}
.r-gallery-images_card {
    /* position: relative;
    min-width: 301px; */
 
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.r-gallery__image-icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0.5;
    transition: .5s ease;
    cursor: pointer;
}

.r-gallery-images_card img {
    width: 393px;
    height: 309px;
    margin-left: 1.5rem;
   
    
    opacity: 1;
    transition: 0.5s ease;
    border-radius: 10px;
}

.r-gallery-images_card:hover img {
    opacity: 0.35;
    
}

.r-gallery-images_card:hover .r-gallery-image-icon {
    opacity: 1
}

.r-gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}

.r-gallery__arrow-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 5px;
    margin-right: 3rem;
    margin-left: 1rem;

}

.r-gallery__arrow-icon:hover {
    color: var(--color-white);
}

/* .swiper {
    width: 30%;
    height: 100%;
  }
  .mySwiper {
    display: flex;
    flex-direction: row;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */
   .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.mySwiper {
    margin-bottom: 2rem;
}  

.stop {
    display: none;
}

/*  */




    @media screen and (max-width: 808px) {
        .blogging {
            margin-left: -0.1%;
            max-width: 100%;
        }
        .blog-media h3 {
            color: #fdf7f7;
        font-size: 22px;
        font-weight: 700;
        text-align: left;
        align-items: flex-start;
        
        }
    .blog-media span {
        color: #D7AE37;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    align-items: flex-start;
    
    }

    .blog-media-left h3 {
        color: #FFF;
font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .blog-media-left span {
        color:#D7AE37;
        font-family: Satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .blog-media-left p {
        color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    .blog-media-right button {
        width: 104px;
height: 30px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #FFF;
background: #223E88;
font-size: 16px;
margin-right: -2rem;
margin-top: 4rem;
    }

    .icon {
        width: 47px;
        height: 47px;
        margin-top: 4rem;
        margin-right: -1.8rem;
    }

    .highlight-details {
        /* Add necessary styles to the container */
        position: relative;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
       
      }

      .highlight-intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
      }

      .highlight-intro h2 {
        margin-bottom: 2rem;
      }
      
      .highlight-item {
        /* Add necessary styles to each item */
        position: relative;
        margin-right: 1px;
        margin-left: -1rem;
      }
      
      .highlight-item img {
        /* Add necessary styles to the image */
        width: 253px;
        height: 239px;
        border-radius: 15px;
        margin-left: 1.5rem;
      }
      
      .highlight-item p {
        /* Add necessary styles to the paragraph */
        position: absolute;
      /* Adjust the horizontal position as needed */
        color: #fff;
        font-size: 14px;
        padding: 1.5rem;
        background: #424242;
        width: 35px;
    height: 30px;
    padding: 1rem;
   
    color: #FFF;
    font-size: 18px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: none;
      }

    .stop {
            /* Add necessary styles to the paragraph */
            position: absolute;
            display: flex;
            /* Adjust the horizontal position as needed */
              color: #fff;
              left: 45%;
              top: 30%;
              font-size: 14px;
              padding: 1.5rem;
              background: #424242;
            
          padding: 1rem;
          width: 44px;
          height: 44px;
flex-shrink: 0;
fill: #544F4F;
stroke-width: 1px;
stroke: #D9D9D9;
border-radius: 50%;

    }

      .signee-intro h2 {
        color: #424242;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
      }
      .interviews-media {
        /* Add necessary styles to the container */
        position: relative;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
      }
      
      .interviews-title {
        /* Add necessary styles to each item */
        position: relative;
        margin-right: 16px;
      }
      
      .interviews-title img {
        /* Add necessary styles to the image */
        width: 253px;
        height: 239px;
        border-radius: 15px;
        margin-left: 1.5rem;
      }
      
      .interviews-title span {
        /* Add necessary styles to the paragraph */
        position: absolute;
        bottom: 190px; /* Adjust the vertical position as needed */
        left: 30px; /* Adjust the horizontal position as needed */
        color: #fff;
        font-size: 14px;
        padding: 1.5rem;
        background: #424242;
        width: 55px;
    height: 50px;
    padding: 1rem;
    color: #FFF;
    font-size: 18px;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
      }
      .interviews-intro-btns {
        display: row;
        flex-wrap: wrap;
        margin-top: 1rem;
      }
      .interviews-intro-btns button {
        margin-top: 0.3rem
      }
 /* .highlight-intro h4,
 .signee-intro h4,
 .mostviewed-intro h4,
 .toprated-intro h4,
 .help-intro h4,
 .interviews-intro h4 {
    color: #424242;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 1.3rem;
 } */

 .interviews-intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
 }

 .interviews-intro-btns {
    display: flex;
    flex-direction: row;
    
 }

 .interviews-intro-btn button {

display: flex;
flex-direction: row;
padding: 0;
font-size: 10px;
 }

 .highlight-intro button {
    width: 76px;
height: 22px;
font-size: 10px;
 }

 .signee-intro button {
    width: 63px;
height: 22px;
font-size: 10px;
 }
.toprated-intro button {
    width: 90px;
height: 32px;
font-size: 10px;
}




.r-gallery-images_card img {
    width: 253px;
    height: 239px;
    margin-left: 1.5rem;
   
    
    opacity: 1;
    transition: 0.5s ease;
}
.interviews-intro h2 {
    
    color: #424242;
   
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: row;
    margin-left: -3rem;
    margin-bottom: 2rem;
}

.interviews-intro-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -4.5rem;
}

.interviews-intro-btns :nth-child(1) {
    width: 41px;
height: 32px;
flex-shrink: 0;
border-radius: 10px;
background: #223E88;
color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 700;
}
.interviews-intro-btns :nth-child(2) {
    width: 95px;
height: 32px;
flex-shrink: 0;
border-radius: 10px;
background: #F4F4F4;
color: #817F7F;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.interviews-intro-btns :nth-child(4) {
    width: 95px;
height: 32px;
flex-shrink: 0;
border-radius: 10px;
background: #F4F4F4;
color: #817F7F;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.interviews-intro-btns :nth-child(3) {
    width: 110px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    color: #817F7F;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
}

.interviews-intro-btns :nth-child(5) {
    display: none;
}
.interviews-intro {
    display: flex;
    flex-direction: column;
    
}
.interviews-media {
    margin-left: -3rem;
}
.interviews-title img {
    
    width: 173px;
    height: 119px;
    
    margin-left: 1rem;
}

.interviews-media :nth-child(2) {
    margin-left: -0.5rem;
}
.interviews-media :nth-child(3) {
    margin-left: -1.5rem;
}
 .interviews-media p {
    display: none;
 }



 .play {
    width: 50px;
    height: 30px;
    margin-bottom: 2rem;
    margin-left: -8rem;
 }


.podcast1,
.toprated1 {
    width: 300px;
    height: 530px;
    margin-left: 1.5rem;
}

.podcast1 img,
.toprated1 img {
    width: 300px;
   
}
.podcast-icon img,
.toprated-icon img {
    width: 120px;
    height: 50px;
}
.pause {
    width: 40px;
    height: 40px;

}
.highlight-intro 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}

.highlight-intro h2 {
    color: #424242;
font-family: Satoshi;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.highlight-details {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: -2rem;
}
.highlight-item img {
    width: 173px;
    height: 119px;

}

.toprated-intro h2 {
    color: #424242;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.toprated-details {
    width: 368px;
height: 246px;
}

.toprated1 img {
    width: 173px;
height: 162px;

}
.pause {
    width: 18.625px;
height: 18.625px;

}
.toprated-icon img {
    width: 72.244px;
height: 16.143px;
}

.toprated1 p {
width: 200px;
height: 23px;
flex-shrink: 0;
color: #817F7F;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10px;
margin-top: 1rem;
display: flex;
flex-direction: row;
text-align: left;
justify-content: start;
align-items: left;
}

.toprated1 {
    background: none;
    margin-left: 0.3rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    height: 246px;


}
.toprated-details {
    margin-left: -2rem;
    height: 246px;

}
#root > div > div > div.toprated.innerWidth.paddings > div.toprated-details > div:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

#root > div > div > div.toprated.innerWidth.paddings > div.toprated-details > div:nth-child(1) > img {
    margin-right: 1.5rem;
}
#root > div > div > div.toprated.innerWidth.paddings > div.toprated-details > div:nth-child(2) > div > svg {
    margin-left: 1.5rem;
}


}



@media screen and (max-width: 1200px) {
    .highlight-details img {
        margin-left: 1.2rem;
    }

    .interviews-intro h4{
        font-size: 18px;
    }

    .podcast1 {
        margin-left: 1.5rem;
    }

   
}
