.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
  padding: 2rem;
  

    

}

.active {
    color: #161037;
   font-weight: 700;
  }

.head {
  
  
   margin-left: 2rem;
   padding: 1.5rem;
   
}

.header-logo h3 {
    color: #223E88;
font-size: 32px;
font-weight: 700;
}

.header-list {
    color: #817F7F;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  

}

.header-list div {
    margin-left: 6rem;
    
}




.header-btn {
    width: 234px;
height: 72px;

padding: 0.5rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.header-btn button {
    width: 97px;
    height: 28px;
    border-radius: 10px;
background: #223E88;
color: #FFF;
font-family: Satoshi;
font-size: 11px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

.menu-icon {
    display: none;
}
.app__navbar-smallscreen {
    display: none
    ;
    transition: all 300ms ease-in-out;
}

.app__navbar-smallscreen_overlay {
   
   display: flex;
   flex-direction: column;
    background-color: #FFF;
    color: inherit;
   height: 400px;
   width: 250px;
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 3%;
  font-family: var(--font-base);
  font-weight: 500;
  transition: all 1900ms ease-in-out;
  transition-duration: 2s;

}


.app__navbar-smallscreen-links {
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;


}
.app__navbar-smallscreen-links div {
    margin-top: 2rem;
    font-size: 20px;
   margin-left: 6rem;
    text-align: center;
    display: flex;

}
.overlay__close {
   
    background-color: rgb(255, 255, 255);
}

.hamburger {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: none;

}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-white);
}


@media screen and (max-width: 1180px) {
    .header {
        display: flex;
        flex-direction: row;
       
        justify-content: space-around;
        flex-wrap: nowrap;
    }

  
  
}

@media screen and (max-width: 808px){

    .head {
  
  
        margin-right: -1rem;
        
     }
   
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 4rem;
   
  }

  .header-logo h3 {
    font-size: 16px;
  }
  .header-logo {
    margin-left: -4rem;
  }

    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        color: #817F7F;
        font-size: 20px;
    }

    .header-list {
        display: none;
        color: #817F7F;
        font-size: 10px;
    }
    .header-btn button{
       margin-left: -9rem;
    }

    .hamburger {
        margin-right: -2.4rem;
    }

}